## 2.1. Python Variables

In [94]:
Name  = "James"        # A string variable
Age   = 15          # An integer variable
Weight = 70.5      # A floating type variable
Married  = True        # A boolean Variable

In [95]:
print(type(Name))
print(type(Age))
print(type(Weight))
print(type(Married))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [99]:
Name = Weight = Married = True

print(Name)
print(Weight)
print(Married)

True
True
True

## 2.2. Python Data Types

### 2.2.1. Numeric Types

#### Integers

In [3]:
int_num = 25
print(type(int_num))

<class 'int'>

In [4]:
dir(int_num)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

#### Floats

In [13]:
flt_num = 2.6554
print(type(flt_num))

<class 'float'>

In [21]:
flt_num = 2.6554e3
print(flt_num)
print(type(flt_num))

2655.4
<class 'float'>

#### Comlpex Numbers

In [25]:
cmp_num = -.785+7J 
print(type(cmp_num))

<class 'complex'>

#### Binary

In [27]:
bin_num = 0b11010000
print(bin_num)
print(type(bin_num))

208
<class 'int'>

### 2.2.2. Strings

In [29]:
print("This is a string literal")

This is a string literal

In [31]:
str_var = "This is a variable inside a string"
print(str_var)
print(type(str_var))

This is a variable inside a string
<class 'str'>

#### Multiline Strings

In [32]:
str_mul = """Hell this string
spans on multiple lines
and this is the last line"""

print(str_mul)

Hell this string
spans on multiple lines
and this is the last line

#### Single and Double Quotes in Strings

In [33]:
single_quote = "This is a string 'single quoted' value"
print(single_quote)

This is a string 'single quoted' value

In [35]:
double_quote = 'This is a string "double quoted" value'
print(double_quote)

This is a string "double quoted" value

#### String Concatenation

In [36]:
my_string = "Hello this is a simple string"
my_string[1]

'e'

In [37]:
print(len(my_string))

29

In [44]:
string1 = "Hello how are you? "
string2 = "This is Mike!"
print(string1 + string2)
print(len(string1+string2))

Hello how are you? This is Mike!
32

### 2.2.3. Boolean Variables

In [49]:
car = "Honda"
isHonda = False
 
if car == "Honda":
    isHonda = True
else:
    isHonda = False
    
print(isHonda)

True

### 2.2.4. Lists

#### Creating Lists

In [96]:
colors = ["Red", "Green", "Blue", "Orange"]

print(colors)
print(type(colors))

['Red', 'Green', 'Blue', 'Orange']
<class 'list'>

In [67]:
mixed_list = [20, "Male", "USA", True]
print(mixed_list)

[20, 'Male', 'USA', True]

#### Accessing List Elements

In [108]:
colors = ["Red", "Green", "Blue", "Orange"]
print(colors[1])

Green

In [54]:
for col in colors:
    print(col)

Red
Green
Blue
Orange

In [56]:
print(len(colors))

4

#### Adding Elements to a List

In [109]:
colors = ["Red", "Green", "Blue", "Orange"]
colors.append("Black")
print(colors)

['Red', 'Green', 'Blue', 'Orange', 'Black']

#### Updating a List

In [131]:
colors = ["Red", "Green", "Blue", "Orange"]
colors[1] = "Yellow"
print(colors)

['Red', 'Yellow', 'Blue', 'Orange']

In [132]:
colors[4] = "Yellow"
print(colors)

IndexError: list assignment index out of range

#### Deleting a List Item

In [110]:
colors = ["Red", "Green", "Blue", "Orange"]
colors.remove("Green")
print(colors)

['Red', 'Blue', 'Orange']

In [65]:
colors = ["Red", "Green", "Blue", "Orange"]
colors.pop(2)
print(colors)

['Red', 'Green', 'Orange']

### 2.2.5. Tuples

#### Creating a Tuple

In [97]:
my_tuple = ("James", 25, "Male", True)
print(my_tuple)
print(type(my_tuple))

('James', 25, 'Male', True)
<class 'tuple'>

#### Accessing Tuple Elements

In [72]:
print(my_tuple[1])

25

In [74]:
print(my_tuple[-1])

True

In [73]:
for item in my_tuple:
    print(item)

James
25
Male
True

#### Immutability

In [75]:
my_tuple = ("James", 25, "Male", True)

my_tuple[1] = 30

TypeError: 'tuple' object does not support item assignment

### 2.2.6. Python Dictionary

#### Creating a Dictionary

In [104]:
country_capitals = {"England":"London",
                 "France": "Paris",
                 "Japan": "Tokyo",
                   "China": "Beijing"}

print(country_capitals)
print(type(country_capitals))

{'England': 'London', 'France': 'Paris', 'Japan': 'Tokyo', 'China': 'Beijing'}
<class 'dict'>

#### Accessing Dictionary Items

In [80]:
country_capitals[0]

KeyError: 0

In [81]:
print(country_capitals["Japan"])

Tokyo

In [86]:
for k,v in country_capitals.items():
    print(k+" ->"+v)

England ->London
France ->Paris
Japan ->Tokyo
China ->Beijing

In [87]:
for k in country_capitals.keys():
    print(k)

England
France
Japan
China

In [88]:
for v in country_capitals.values():
    print(v)

London
Paris
Tokyo
Beijing

#### Adding Items to a Dictionary

In [91]:
country_capitals = {"England":"London",
                 "France": "Paris",
                 "Japan": "Tokyo",
                   "China": "Beijing"}

country_capitals["Greece"] = "Athens"

print(country_capitals)

{'England': 'London', 'France': 'Paris', 'Japan': 'Tokyo', 'China': 'Beijing', 'Greece': 'Athens'}

#### Modifying a Dictionary Item

In [92]:
country_capitals = {"England":"London",
                 "France": "Paris",
                 "Japan": "Tokyo",
                   "China": "Beijing"}

country_capitals["Japan"] = "XYZ"

print(country_capitals)

{'England': 'London', 'France': 'Paris', 'Japan': 'XYZ', 'China': 'Beijing'}

#### Deleting a Dictionary Item

In [111]:
country_capitals = {"England":"London",
                 "France": "Paris",
                 "Japan": "Tokyo",
                   "China": "Beijing"}

del country_capitals["France"]

print(country_capitals)

{'England': 'London', 'Japan': 'Tokyo', 'China': 'Beijing'}

In [112]:
country_capitals = {"England":"London",
                 "France": "Paris",
                 "Japan": "Tokyo",
                   "China": "Beijing"}

country_capitals.clear()
print(country_capitals)

{}

## Exercise 2.1


**Question 1:**

To write a multiline string, you need to wrap a string in:


A. Double Quotes

B. Triple Quotes

C. Single Quote
 
D. None of the Above


**Answer: B**

    

**Question 2:**

The following function can be used to add an item to a tuple"


A. add()

B. insert()

C. append()
 
D. None of the Above

**Answer: D**

    
    
**Question 3:**

What will be the output of the following code:?

```
colors = {"color1": "red",
         "color2" : "blue",
         "color1" : "green"}

print(colors["color1"])

```

A. Red

B. Blue 

C. Green 

D. None of the Above

**Answer: D**

In [124]:
colors = {"color1": "red",
         "color2" : "blue",
         "color1" : "green"}

print(colors["color1"])

green

## Exercise 2.2

Create a dictionary that contains days of a week(starting from Monday) as values. The keys should start from 1 with an increment of 1. Display the 3rd week of the day using its key. Use a loop to display all the key value pairs (see the section on accessing dictionary items, for reference).

**Solution:**

In [130]:
days = {1:"Monday",
        2:"Tuesday",
        3:"Wednesday",
        4:"Thursday",
        5:"Friday",
        6:"Saturday",
        7:"Sunday"}

print(days[3])

for k,v in days.items():
    print(str(k)+" ->"+v)

Wednesday
1 ->Monday
2 ->Tuesday
3 ->Wednesday
4 ->Thursday
5 ->Friday
6 ->Saturday
7 ->Sunday